<div class="clearfix mxn2">
  <div class="col sm-col-9 px2">
    <h3 class="mb2">About me</h3>
    <p>
    Experienced Product Owner with a demonstrated history of working in the mobile applications.
    Skilled in Agile, Team Lead,Software Development.
    Product management professional with a Master of Science (MS) focused in Business Administration & Technology Management 
    </p>
  </div>
  <div class="col sm-col-3 px2">
    <h3 class="mb2">Contact</h3>
    {% include contact.html %}
  </div>
</div>
